# Port API Express
API_PORT=4000

# Port frontend Vite (dev)
CLIENT_PORT=5173

# Endpoint de l'equipe Data (FastAPI Python sur port 8000)
DATA_API_URL=http://localhost:8000/data

# Intervalle du worker en minutes
WORKER_INTERVAL_MIN=5
